{% load static %}
<!-- Tab Content -->
      <div class="tab-content" id="connectionsTabContent">
        <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
          <!-- Content -->
          <div class="content container-fluid kanban-board">
            <!-- Kanban Row -->
            <ul class="row list-unstyled kanban-board-row">
              {% for section in sections %}

              <li class="js-add-field col-12" data-hs-add-field-options='{
                  "template": "#createProjectGridTemplateToDo",
                  "container": "#createProjectGridContainerToDo",
                  "defaultCreated": 0
                 }'>

                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">{{ section.name}}</h6>
  
                  <a class="js-create-field btn btn-white btn-icon btn-xs" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Add project">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
  
                <div class="js-sortable">
                
                  {% for task in section.tasks.all %}

                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom sortablejs-custom-rotate sortablejs-custom-handle card-transition" data-href="#">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-5">
                          <div class="me-2">
                            <h4 class="text-wrap">{{ task.title }}</h4>
                            <a class="stretched-link" type="button"   data-bs-toggle="offcanvas" data-task-id = {{ task.pk }} data-bs-target="#offcanvasRightUpdate" aria-controls="offcanvasRightUpdate" href="{% url 'task_detail' project_id task.pk %}"></a>
  
                            <!-- Avatar Group -->
                            <div class="avatar-group avatar-group-sm">
                              <span class="avatar avatar-circle">
                                <img class="avatar-img" src="{% static 'assets/img/160x160/img6.jpg' %}" alt="Image Description">
                              </span>
                              <span class="avatar avatar-circle">
                                <img class="avatar-img" src="{% static 'assets/img/160x160/img7.jpg' %}" alt="Image Description">
                              </span>
                              <span class="avatar avatar-soft-dark avatar-circle">
                                <span class="avatar-initials">I</span>
                              </span>
                              <span class="fs-6 ms-2">3 Assignees</span>
                            </div>
                            <!-- End Avatar Group -->
                          </div>
  
                          <div class="ms-auto">
                            <!-- Dropdown -->
                            <div class="dropdown">
                              <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsGridDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots-vertical"></i>
                              </button>
  
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsGridDropdown1">
                                <a class="dropdown-item" href="#">
                                  <i class="bi-pencil dropdown-item-icon"></i> Rename project
                                </a>
                                <a class="dropdown-item" href="#">
                                  <i class="bi-star dropdown-item-icon"></i> Add to favorites
                                </a>
                                <a class="dropdown-item" href="#">
                                  <i class="bi-archive dropdown-item-icon"></i> Archive project
                                </a>
  
                                <div class="dropdown-divider"></div>
  
                                <a class="dropdown-item text-danger" href="#">
                                  <i class="bi-trash dropdown-item-icon text-danger"></i>
                                  Remove
                                </a>
                              </div>
                            </div>
                            <!-- End Dropdown -->
                          </div>
                        </div>
  
                        <div class="row mb-3">
                          <div class="col-4">
                            <!-- Stats -->
                            <div class="text-center">
                              <span class="d-block h4 mb-1">20</span>
                              <span class="d-block fs-6">Tasks</span>
                            </div>
                            <!-- End Stats -->
                          </div>
                          <!-- End Col -->
  
                          <div class="col-4">
                            <!-- Stats -->
                            <div class="text-center">
                              <span class="d-block h4 mb-1">0</span>
                              <span class="d-block fs-6">Complete</span>
                            </div>
                            <!-- End Stats -->
                          </div>
                          <!-- End Col -->
  
                          <div class="col-4">
                            <!-- Stats -->
                            <div class="text-center">
                              <span class="d-block h4 mb-1">0</span>
                              <span class="d-block fs-6">Completed</span>
                            </div>
                            <!-- End Stats -->
                          </div>
                          <!-- End Col -->
                        </div>
                        <!-- End Row -->
  
                        <!-- Progress -->
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- End Progress -->
                      </div>
                    </div>

                  </div>
                  <!-- End Card -->

                  {% empty %}
                  <p>No tasks in this section.</p>
                  {% endfor %}
                </div>

                <!-- Start OffCanvasRightUpdate -->
                <div class="offcanvas offcanvas-end shadow-lg" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRightUpdate" aria-labelledby="offcanvasRightUpdateLabel">
                  <div class="offcanvas-header card-header bg-img-start" style="background-image: url(/static/assets/svg/components/card-6.svg);" bis_skin_checked="1" element-id="106">
                    <h2 class="offcanvas-title" id="offcanvasRightUpdateLabel">Update Task</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body" id="UpdatetaskFormPlaceholder">
                  </div>
                </div>
                <!-- End OffCanvasRightUpdate -->
                <!-- Container For Input Field -->
                <div id="createProjectGridContainerToDo"></div>
  
                <!-- Card -->
                <div class="d-grid">
                  <a class="btn btn-white btn-dashed-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi-plus"></i> Add task
                  </a>
                </div>
                <!-- End Card -->
                <div class="offcanvas offcanvas-end shadow-lg" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                  <div class="offcanvas-header card-header bg-img-start" style="background-image: url(/static/assets/svg/components/card-6.svg);" bis_skin_checked="1" element-id="106">
                    <h2 class="offcanvas-title" id="offcanvasRightLabel">Create a Task</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body" id="taskFormPlaceholder">
                  </div>
                </div>
                <!-- Add Create Project Template -->
                <form id="createProjectGridTemplateToDo" style="display: none;">
                  <div class="js-sortable-link sortablejs-custom sortablejs-custom-rotate sortablejs-custom-handle" data-href="#">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="mb-4">
                          <textarea class="form-control" placeholder="What needs to be done?" data-name="body" aria-label="What needs to be done?"></textarea>
                        </div>
  
                        <div class="d-flex justify-content-end gap-3">
                          <a class="js-delete-field btn btn-white btn-sm" href="javascript:;">Cancel</a>
                          <a class="btn btn-primary btn-sm" href="javascript:;">Create</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- End Add Create Project Template -->
              </li>

              {% empty %}

              <li class="js-add-field col-12">
                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">{{ section.name}}</h6>
  
                  <div class="js-sortable"></div>
  
                  <a class="btn btn-white btn-icon btn-xs" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Create group">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
              </li>

              {% endfor %}
              
              <li class="col-12">
                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">Create a new group</h6>
  
                  <div class="js-sortable"></div>
  
                  <a class="btn btn-white btn-icon btn-xs" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Create group">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
              </li>
            </ul>
            <!-- End Kanban Row -->
          </div>
          <!-- End Content -->
        </div>
  
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
          <!-- Content -->
          <div class="content container-fluid">
            <!-- Kanban List -->
            <ul class="list-inline">
              <li class="js-add-field" data-hs-add-field-options='{
                    "template": "#createProjectListTemplateToDo",
                    "container": "#createProjectListContainerToDo",
                    "defaultCreated": 0
                  }'>
                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">To do</h6>
  
                  <a class="js-create-field btn btn-icon btn-sm btn-white" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Add project">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
  
                <div class="js-sortable">
                  
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Front mobile app launch</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown1">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img6.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img7.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-soft-dark avatar-circle">
                              <span class="avatar-initials">I</span>
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">3 Assignees</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">20</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">0</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">0</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->

                </div>
  
                <!-- Container For Input Field -->
                <div id="createProjectListContainerToDo"></div>
  
                <!-- Card -->
                <a class="js-sortable-disabled js-create-field btn btn-white btn-dashed-outline" href="javascript:;">
                  <i class="bi-plus"></i> Add project
                </a>
                <!-- End Card -->
  
                <!-- Add Create Project Template -->
                <form id="createProjectListTemplateToDo" style="display: none;">
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="mb-4">
                        <textarea class="form-control" placeholder="What needs to be done?" data-name="body" aria-label="What needs to be done?"></textarea>
                      </div>
  
                      <div class="d-flex justify-content-end gap-3">
                        <a class="js-delete-field btn btn-white btn-sm" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary btn-sm" href="javascript:;">Create</a>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- End Add Create Project Template -->
              </li>
  
              <!-- Divider -->
              <li>
                <hr class="my-7">
              </li>
              <!-- End Divider -->
  
              <li class="js-add-field" data-hs-add-field-options='{
                    "template": "#createProjectListTemplateInProgress",
                    "container": "#createProjectListContainerInProgress",
                    "defaultCreated": 0
                  }'>
                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">In progress</h6>
  
                  <a class="js-create-field btn btn-icon btn-sm btn-white" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Add project">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
  
                <div class="js-sortable">
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Display tasks in account page</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown4" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown4">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img7.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img5.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img8.jpg' %}" alt="Image Description">
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">3 Assignees</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">7</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">12</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">3</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->

                </div>
  
                <!-- Container For Input Field -->
                <div id="createProjectListContainerInProgress"></div>
  
                <!-- Card -->
                <a class="js-sortable-disabled js-create-field btn btn-white btn-dashed-outline" href="javascript:;">
                  <i class="bi-plus"></i> Add project
                </a>
                <!-- End Card -->
  
                <!-- Add Create Project Template -->
                <form id="createProjectListTemplateInProgress" style="display: none;">
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="mb-4">
                        <textarea class="form-control" placeholder="What needs to be done?" data-name="body" aria-label="What needs to be done?"></textarea>
                      </div>
  
                      <div class="d-flex justify-content-end gap-3">
                        <a class="js-delete-field btn btn-white btn-sm" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary btn-sm" href="javascript:;">Create</a>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- End Add Create Project Template -->
              </li>
  
              <!-- Divider -->
              <li>
                <hr class="my-7">
              </li>
              <!-- End Divider -->
  
              <li class="js-add-field" data-hs-add-field-options='{
                    "template": "#createProjectListTemplateReview",
                    "container": "#createProjectListContainerReview",
                    "defaultCreated": 0
                  }'>
                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">Review</h6>
  
                  <a class="js-create-field btn btn-icon btn-sm btn-white" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Add project">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
  
                <div class="js-sortable">
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Design banner for social networks</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown6" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown6">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-soft-info avatar-circle">
                              <span class="avatar-initials">L</span>
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img9.jpg' %}" alt="Image Description">
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">2 Assignees</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">7</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">7</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">2</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->
                </div>
  
                <!-- Container For Input Field -->
                <div id="createProjectListContainerReview"></div>
  
                <!-- Card -->
                <a class="js-sortable-disabled js-create-field btn btn-white btn-dashed-outline" href="javascript:;">
                  <i class="bi-plus"></i> Add project
                </a>
                <!-- End Card -->
  
                <!-- Add Create Project Template -->
                <form id="createProjectListTemplateReview" style="display: none;">
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="mb-4">
                        <textarea class="form-control" placeholder="What needs to be done?" data-name="body" aria-label="What needs to be done?"></textarea>
                      </div>
  
                      <div class="d-flex justify-content-end gap-3">
                        <a class="js-delete-field btn btn-white btn-sm" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary btn-sm" href="javascript:;">Create</a>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- End Add Create Project Template -->
              </li>
  
              <!-- Divider -->
              <li>
                <hr class="my-7">
              </li>
              <!-- End Divider -->
  
              <li class="js-add-field" data-hs-add-field-options='{
                    "template": "#createProjectListTemplateDone",
                    "container": "#createProjectListContainerDone",
                    "defaultCreated": 0
                  }'>
                <!-- Title -->
                <div class="js-sortable-disabled d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-cap mb-0">Done</h6>
  
                  <a class="js-create-field btn btn-icon btn-sm btn-white" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="left" title="Add project">
                    <i class="bi-plus"></i>
                  </a>
                </div>
                <!-- End Title -->
  
                <div class="js-sortable">
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Create product roadmap</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown7" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown7">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img5.jpg' %}" alt="Image Description">
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">1 Assignee</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">1</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">1</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">0</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->
  
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Mobile: notifications for subscribe pages and goals</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown8" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown8">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img5.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img7.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img3.jpg' %}" alt="Image Description">
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">3 Assignee</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">5</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">7</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">0</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->
  
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Allow commenting from the report view</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown9" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown9">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img9.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img4.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-soft-info avatar-circle">
                              <span class="avatar-initials">V</span>
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">3 Assignee</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">3</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">6</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">0</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->
  
                  <!-- Card -->
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h4 class="text-wrap">Public API</h4>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="kanbanProjectsListDropdown10" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi-three-dots-vertical"></i>
                            </button>
  
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="kanbanProjectsListDropdown10">
                              <a class="dropdown-item" href="#">
                                <i class="bi-pencil dropdown-item-icon"></i> Rename project
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-star dropdown-item-icon"></i> Add to favorites
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="bi-archive dropdown-item-icon"></i> Archive project
                              </a>
  
                              <div class="dropdown-divider"></div>
  
                              <a class="dropdown-item text-danger" href="#">
                                <i class="bi-trash dropdown-item-icon text-danger"></i>
                                Remove
                              </a>
                            </div>
                          </div>
                          <!-- End Dropdown -->
                        </div>
                      </div>
  
                      <div class="row align-items-center">
                        <div class="col-sm-auto mb-3 mb-sm-0">
                          <!-- Avatar Group -->
                          <div class="avatar-group avatar-group-sm">
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img4.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img5.jpg' %}" alt="Image Description">
                            </span>
                            <span class="avatar avatar-circle">
                              <img class="avatar-img" src="{% static 'assets/img/160x160/img6.jpg' %}" alt="Image Description">
                            </span>
                          </div>
                          <!-- End Avatar Group -->
  
                          <span class="d-block fs-6">3 Assignee</span>
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">75</span>
                            <span class="d-block fs-6">Tasks</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">4</span>
                            <span class="d-block fs-6">Complete</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-auto mb-3 mb-sm-0">
                          <!-- Stats -->
                          <div class="text-center">
                            <span class="d-block h4 mb-1">0</span>
                            <span class="d-block fs-6">Completed</span>
                          </div>
                          <!-- End Stats -->
                        </div>
                        <!-- End Col -->
  
                        <div class="col-sm">
                          <!-- Progress -->
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- End Progress -->
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Card -->
                </div>
  
                <!-- Container For Input Field -->
                <div id="createProjectListContainerDone"></div>
  
                <!-- Card -->
                <a class="js-sortable-disabled js-create-field btn btn-white btn-dashed-outline" href="javascript:;">
                  <i class="bi-plus"></i> Add project
                </a>
                <!-- End Card -->
  
                <!-- Add Create Project Template -->
                <form id="createProjectListTemplateDone" style="display: none;">
                  <div class="js-sortable-link sortablejs-custom-handle card mb-3" data-href="#">
                    <div class="card-body">
                      <div class="mb-4">
                        <textarea class="form-control" placeholder="What needs to be done?" data-name="body" aria-label="What needs to be done?"></textarea>
                      </div>
  
                      <div class="d-flex justify-content-end gap-3">
                        <a class="js-delete-field btn btn-white btn-sm" href="javascript:;">Cancel</a>
                        <a class="btn btn-primary btn-sm" href="javascript:;">Create</a>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- End Add Create Project Template -->
              </li>
            </ul>
            <!-- End Kanban List -->
          </div>
          <!-- End Content -->
        </div>
      </div>
      <!-- End Tab Content -->
      