<!-- <form method="post" id="taskForm" novalidate action="{{ request.path }}" data-action="{% if 'edit' in request.path %}edit{% else %}create{% endif %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-sm-3 mb-2 col-form-label">{{ field.label }}</label>
        <div class="col-sm-9 mb-2">
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <input type="hidden" name="project" value="{{ form.instance.project_id }}">
    <button class="btn btn-primary" type="submit">{% if "edit" in request.path %} Update {% else %} Create {% endif %}</button>
</form> -->


<form method="post" id="taskForm" novalidate action="{{ request.path }}" data-action={% if "edit" in request.path %} "edit" {% else %} "create" {% endif %}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="project" value="{{ form.instance.project_id }}">
    <!-- <button class="btn btn-primary" type="submit">{% if "edit" in request.path %} Update {% else %} Create {% endif %}</button> -->
</form>

  