<form method="post" id="taskForm" novalidate action="/projects/8/tasks/new/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="project" value="{{ form.instance.project_id }}">
    <button class="btn btn-primary" type="submit">Create</button>
</form>
<script>
    (function() {
      // INITIALIZATION OF FLATPICKR
      // =======================================================
      HSCore.components.HSFlatpickr.init('.js-flatpickr')

      // INITIALIZATION OF SELECT
      // =======================================================
      HSCore.components.HSTomSelect.init('.js-select')
    })();
  </script>