{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'node_modules/tom-select/dist/css/tom-select.bootstrap5.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}">
{% endblock %}



{% block content %}

<!-- Toast -->
<div id="liveToast" class="position-fixed toast hide alert alert-success" role="alert" aria-live="assertive" aria-atomic="true" style="top: 20px; right: 40%; z-index: 1000;">
  <!-- <div class="toast-header"> -->
  <div>
    <div class="d-flex align-items-center flex-grow-1">
      <div class="flex-grow-1 ms-3">

        <div class="mb-0" id="toastMessage">Task Updated
        <a href="#" class="toast-link alert-link">View Task</a>  
        </div>
      </div>
      <div class="text-end">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <!-- <div class="toast-body">
    Hello, world! This is a toast message.
  </div> -->
</div>
<!-- End Toast -->

    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-sm mb-2 mb-sm-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                  <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'projects:project_list' %}">Projects</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
                </ol>
              </nav>
  
              <h1 class="page-header-title">{{ project.name }}</h1>
            </div>
            <!-- End Col -->
  
            <div class="col-lg-auto">
              <span class="text-cap small">Team members:</span>
  
              <div class="d-flex">
                <!-- Avatar Group -->
                <div class="avatar-group avatar-circle me-3">
                  <a class="avatar" href="./user-profile.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Amanda Harvey">
                    <img class="avatar-img" src="{% static 'assets/img/160x160/img10.jpg' %}" alt="Image Description">
                  </a>
                  <a class="avatar" href="./user-profile.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Linda Bates">
                    <img class="avatar-img" src="{% static 'assets/img/160x160/img9.jpg' %}" alt="Image Description">
                  </a>
                  <a class="avatar avatar-soft-info" href="./user-profile.html" data-bs-toggle="tooltip" data-bs-placement="top" title="#digitalmarketing">
                    <span class="avatar-initials">
                      <i class="bi-people-fill"></i>
                    </span>
                  </a>
                  <a class="avatar" href="./user-profile.html" data-bs-toggle="tooltip" data-bs-placement="top" title="David Harrison">
                    <img class="avatar-img" src="{% static 'assets/img/160x160/img3.jpg' %}" alt="Image Description">
                  </a>
                  <a class="avatar avatar-soft-dark" href="./user-profile.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Antony Taylor">
                    <span class="avatar-initials">A</span>
                  </a>
  
                  <a class="avatar avatar-light avatar-circle" href="javascript:;" data-bs-toggle="modal" data-bs-target="#shareWithPeopleModal">
                    <span class="avatar-initials">+2</span>
                  </a>
                </div>
                <!-- End Avatar Group -->
  
                <a class="btn btn-primary btn-icon rounded-circle" href="javascript:;" data-bs-toggle="modal" data-bs-target="#shareWithPeopleModal">
                  <i class="bi-share-fill"></i>
                </a>
              </div>
            </div>
            <!-- End Col -->
          </div>
        </div>
        <!-- End Page Header -->
      </div>
      <!-- End Content -->
  
      <!-- Content -->
      <div class="content container-fluid my-n9">
        <div class="row mb-5">
          <div class="col-12 col-sm-auto mb-3">
            <!-- Input Group -->
            <div class="input-group input-group-merge">
              <div class="input-group-prepend input-group-text">
                <i class="bi-search"></i>
              </div>
              <input type="search" class="form-control" placeholder="Search tasks" aria-label="Search tasks">
            </div>
            <!-- End Input Group -->
          </div>
          <!-- End Col -->
  
          <div class="col-auto mb-3">
            <!-- Daterangepicker -->
            <button id="js-daterangepicker-predefined" class="btn btn-ghost-secondary dropdown-toggle">
              <i class="bi-calendar-week"></i>
              <span class="js-daterangepicker-predefined-preview ms-2"></span>
            </button>
            <!-- End Daterangepicker -->
          </div>
          <!-- End Col -->
  
          <div class="col-auto mb-3 ms-auto">
            <!-- Nav -->
            <ul class="nav nav-segment" id="connectionsTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="grid-tab" data-bs-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="true" title="Column view">
                  <i class="bi-grid"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="list-tab" data-bs-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false" title="List view">
                  <i class="bi-view-list"></i>
                </a>
              </li>
            </ul>
            <!-- End Nav -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Content -->
  
      {% include 'projects/partials/task_list.html' %}
      
{% endblock %}

{% block sec_contents %}
  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Keyboard Shortcuts -->
  {% include 'partials/layouts-components/offcanvas-shortcuts.html' %}
  <!-- End Keyboard Shortcuts -->

  <!-- Activity -->
  {% include 'partials/layouts-components/offcanvas-activity.html' %}
  <!-- End Activity -->

  <!-- Welcome Message Modal -->
  {% include 'partials/modals/welcome-message.html' %}
  <!-- End Welcome Message Modal -->

  <!-- Share with people Modal -->
  {% include 'partials/modals/share-with-people.html' %}
  <!-- End Share with people Modal -->
  <!-- ========== END SECONDARY CONTENTS ========== -->
{% endblock %}

{% block extra_js %}

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->

  <script src="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' %}"></script>
  
  <script src="{% static 'node_modules/tom-select/dist/js/tom-select.complete.min.js' %}"></script>
  <script src="{% static 'assets/vendor/hs-add-field/dist/hs-add-field.js' %}"></script>
  <script src="{% static 'node_modules/sortablejs/Sortable.min.js' %}"></script>
  <script src="{% static 'node_modules/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'node_modules/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'node_modules/clipboard/dist/clipboard.min.js' %}"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->

  <script src="{% static 'assets/js/hs.tom-select.js' %}"></script>
  <script src="{% static 'assets/js/hs.sortable.js' %}"></script>
  <script src="{% static 'assets/js/hs.clipboard.js' %}"></script>


  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF DATERANGEPICKER
      // =======================================================
      $('.js-daterangepicker').daterangepicker();

      $('.js-daterangepicker-times').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(32, 'hour'),
        locale: {
          format: 'M/DD hh:mm A'
        }
      });

      var start = moment();
      var end = moment();

      function cb(start, end) {
        $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
      }

      $('#js-daterangepicker-predefined').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);

      cb(start, end);
    });
  </script>

  <!-- JS Plugins Init. -->
  <script src="{% static 'node_modules/flatpickr/dist/flatpickr.min.js' %}"></script>
  <script src="{% static 'assets/js/hs.flatpickr.js' %}"></script>
  <script>
    (function() {
      window.onload = function () {
          // INITIALIZATION OF MEGA MENU
          // =======================================================
          new HSMegaMenu('.js-mega-menu', {
            desktop: {
              position: 'left'
            }
          })

        // INITIALIZATION OF ADD FIELD
        // =======================================================
        new HSAddField('.js-add-field')

        HSCore.components.HSFlatpickr.init('.js-flatpickr')
        // INITIALIZATION OF SELECT
        // =======================================================
        HSCore.components.HSTomSelect.init('.js-select')


        // INITIALIZATION OF CLIPBOARD
        // =======================================================
        HSCore.components.HSClipboard.init('.js-clipboard')


        // INITIALIZATION OF SORTABLEJS
        // =======================================================
        HSCore.components.HSSortable.init('.js-sortable', {
          forceFallback: true,
          animation: 0,
          group: 'listGroup',
          delay: 500,
          delayOnTouchOnly: true
        });
      }
    })()
  </script>

<script>

// CSRF Token
function getCSRFToken() {
    var csrfToken = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Check if the cookie's name is 'csrftoken'
            if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken' + '=')) {
                csrfToken = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                break;
            }
        }
    }
    return csrfToken;
}

    let baseUrl = window.location.origin
    // Define deleteTask globally
    window.deleteTask = function(projectId, taskId) {
        fetch(`${baseUrl}/projects/api/projects/${projectId}/tasks/${taskId}/delete/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (response.ok) {
                console.log('Task deleted successfully');
                // Handle UI updates or redirection here
                refreshTaskList();
            } else {
                console.error('Failed to delete task', response);
            }
        })
        .catch(error => console.error('Error deleting task:', error));
    };


// Dynamically load UpdateTask Canvas
  $(document).ready(function() {
    // Delegate click event to dynamically loaded elements as well
    $(document).on('click', '[data-bs-target="#offcanvasRightUpdate"]', function() {
      console.log("Canvas opened")
      var task_Id = $(this).data('task-id');
      console.log(task_Id)
      $.ajax({
        url: "{% url 'projects:task_edit' project_id 0 %}".replace('0', task_Id),
        type: "get",
        dataType: "html",
        cache: false,
        success: function(data) {
          $("#UpdatetaskFormPlaceholder").html(data);
          var offcanvasInstance = new bootstrap.Offcanvas($('#offcanvasRightUpdate'));
          offcanvasInstance.show();
        },
        error: function(xhr, status, error) {
          console.log("Error fetching task edit form:", status, error);
        }
      });
    });
  });
  
// Dynamically load CreateTask Canvas
  $(document).ready(function() {
    // Delegate click event to dynamically loaded elements as well
    $(document).on('click', '[data-bs-target="#offcanvasRight"]', function() {
      console.log("Canvas opened")
      var task_Id = $(this).data('task-id');
      console.log(task_Id)
      $.ajax({
        url: "{% url 'projects:task_create' project_id %}",
        type: "get",
        dataType: "html",
        cache: false,
        success: function(data) {
          $("#taskFormPlaceholder").html(data);
          var offcanvasInstance = new bootstrap.Offcanvas($('#offcanvasRight'));
          offcanvasInstance.show();
        },
        error: function(xhr, status, error) {
          console.log("Error fetching task create form:", status, error);
        }
      });
    });
  });
  
//Submit TaskForm
$(document).on('submit', '#taskForm', function(e) {
    e.preventDefault();
    var formAction = $(this).data('action');

    if (formAction === 'create') {
    $.ajax({
        url: "{% url 'projects:task_create' project_id %}",
        type: $(this).attr('method'),
        data: $(this).serialize() + "&csrfmiddlewaretoken=" + $("input[name=csrfmiddlewaretoken]").val(),
        beforeSend: function(xhr) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
        success: function(response) {

          if(response.success) {
            // Close the off-canvas
            // var offcanvasInstance = bootstrap.Offcanvas.getInstance($('#offcanvasRightUpdate'));
            // offcanvasInstance.hide();
            $('#offcanvasRight').offcanvas('hide');

            // Dynamically update the message part
            var defaultMessage = "Task created successfully";
            var iconHtml = '<i class="bi bi-check-circle-fill" style="color: #fff; margin-right: 5px;"></i>';
            var message = response.message || defaultMessage;
            var linkText = "Details"; // Or any default link text you prefer
            var url = "{% url 'projects:task_detail' project_id 0 %}".replace('0', response.pk ) || "#"; // Default URL if none is provided

            $('#liveToast #toastMessage').html(iconHtml + message + '<a href="' + url + '" class="toast-link alert-link"><u>' + linkText + '</u> <i class="bi bi-box-arrow-up-right"></a>');

            // Optionally, refresh the task list or show a success message
            const liveToast = new bootstrap.Toast(document.querySelector('#liveToast'));  
            liveToast.show();
        }
        },
        error: function(xhr, status, error) {
          // Handle form errors
          if (xhr.status === 400) {
              // Clear previous errors
              $('.form-error').remove();

              // Parse the JSON response
              var errors = JSON.parse(xhr.responseText);

              // Loop through the errors and display them
              for (var key in errors) {
                  if (errors.hasOwnProperty(key)) {
                      // Append each error message to the respective form field
                      var error = errors[key].join();
                      $('<div class="form-error">' + error + '</div>').insertAfter('#id_' + key);
                  }
              }
          } else {
              // Handle non-validation errors (optional)
              console.error("An error occurred: ", status, error);
          }
      }
    });
  };
});

//refresh task list
function refreshTaskList() {
    console.log('Refreshing task list')
    $.ajax({
        url: "{% url 'projects:task_list' project.pk %}",  // URL to the Django view that returns the task list partial
        type: 'GET',
        success: function(response) {
            $('#connectionsTabContent').html(response);  // Replace the content of the task list container
        },
        error: function(xhr, errmsg, err) {
            console.log("Error updating task list: " + errmsg);
        }
    });
  }
  
$(document).ready(function() {
  

  // refresh task list on off canvas close
  $(document).on('click', ".btn-close", function() {
    refreshTaskList();
  });

  // close off canvas and refreshtasks
  $(document).ready(function() {
    var offcanvasElement = $('#offcanvasRightUpdate')[0];

    // Bootstrap offcanvas instance
    var bsOffcanvas = new bootstrap.Offcanvas(offcanvasElement);

    // Listener for closing the offcanvas
    $(document).on('hidden.bs.offcanvas', '#offcanvasRightUpdate', function () {
      refreshTaskList();
    });

    // Optionally, close offcanvas when clicking a specific button
    $(document).on('click', '#offcanvasRightUpdate', function() {
        bsOffcanvas.hide(); // This will also trigger the 'hidden.bs.offcanvas' event
    });
  });

// Detect any change in the form and save
$(document).on('change', '#taskForm', function(e) {
    e.preventDefault(); // Prevent the default form submit action
    var formAction = $(this).data('action');
    var url = $(this).attr('action');

    $.ajax({
        url: url, // URL to the Django view
        type: 'POST',
        data: $(this).serialize() + "&csrfmiddlewaretoken=" + $("input[name=csrfmiddlewaretoken]").val(),
        beforeSend: function(xhr) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
        dataType: 'json',
        success: function(response) {
            if(response.success) {
              // Dynamically update the message part
              var defaultMessage = "Task updated successfully";
              var iconHtml = '<i class="bi bi-check-circle-fill" style="color: #fff; margin-right: 5px;"></i>';
              var message = response.message || defaultMessage;
              var linkText = "Details"; // Or any default link text you prefer
              var url = "{% url 'projects:task_detail' project_id 0 %}".replace('0', response.pk ) || "#"; // Default URL if none is provided

              $('#liveToast #toastMessage').html(iconHtml + message + '<a href="' + url + '" class="toast-link alert-link"><u>' + linkText + '</u> <i class="bi bi-box-arrow-up-right"></a>');

              // Optionally, refresh the task list or show a success message
              const liveToast = new bootstrap.Toast(document.querySelector('#liveToast'));  
              liveToast.show();
              // refreshTaskList();  // Refresh the task list
            } else {
                alert(response.message);
            }
        },
        error: function(xhr, status, error) {
          // Handle form errors
          if (xhr.status === 400) {
              // Clear previous errors
              $('.form-error').remove();

              // Parse the JSON response
              var errors = JSON.parse(xhr.responseText);

              // Loop through the errors and display them
              for (var key in errors) {
                  if (errors.hasOwnProperty(key)) {
                      // Append each error message to the respective form field
                      var error = errors[key].join();
                      $('<div class="form-error">' + error + '</div>').insertAfter('#id_' + key);
                  }
              }
          } else {
              // Handle non-validation errors (optional)
              console.error("An error occurred: ", status, error);
          }
        }
      });
    });
  });
  </script>
  <script>
    (function() {
      // INITIALIZATION OF FLATPICKR
      // =======================================================  
      HSCore.components.HSFlatpickr.init('.js-flatpickr')

      // INITIALIZATION OF SELECT
      // =======================================================
      HSCore.components.HSTomSelect.init('.js-select')
    })();
  </script>
{% endblock %}